<!-- //ejs file always inside the view folder -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Ejs</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <!-- <h1>
      <a href="/about">about</a>
      <a href="/contact">contact</a>
    </h1> -->
      <!-- <h1>Hey, I am Ejs</h1>
      <h2><%= 2+3%></h2> -->
      <img src="images/Screenshot 2024-07-20 221913.png">
      <script src="js/script.js"

</body>
</html>